body {
  font-family: "Montserrat";
  font-size: 14px;
}

h1, h2, h3, h4 {
  font-weight: 700;
}

.top-cover{
  background: url("images/main-hero.jpg")
  no-repeat center center;
  background-size: cover;
  height: 500px;
  padding-top: 150px;
  color: white;
  padding-left: 200px;*/
  padding-right: 200px;
}
.top-cover2{
  background: url("images/download-hero.jpg")
  no-repeat center center;
  background-size: cover;
  height: 500px;
  padding-top: 150px;
  color: white;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.cover3{
  background-color: #3232AA;
}

li{
  color: white !important;
  font-style: lighter;
}

footer h4{
  color:white;
  font-size: 15px;
}

footer li{
  color:white !important;
  margin-top:10px;
  font-size: 13px;
}

ul{
  list-style-type: none;
  list-style: none;
  padding-left: 0;
}

.row label{
  font-size: 14px;
}


.col-sm-12 .col-sm-4{
  text-align: center;
}
.navbar-default {
  background-color: #F63440;
  color: white;
}
.navbar-header a{
  color: white;
}
.containernav a{
  color: white;
}
.navbar .navbar-default .navbar-fixed-top a{
  color: white;
}

.navbar a{color: white !important;}

.navbar-brand{
  font-family: "Passion One";
  font-size: xx-large;
  color: #FFFFFF;
}
.navbar-brand a{
  color: white;
}
.greyback{
  background-color: #EEEEEE;
}
.cover4{
  padding-left: 20px;
}

.img-circle1{
  position: absolute center;
  display.block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}


.img-circle2{
  width: 50px;
}
.appimg{
  width: 200px;
}
.pequeno{
  font-size: 20.5px;
}
.espacio{
  margin-top: 200px;
}
.centerly{
  text-align: center;
}
/* My standard vertical spacing classes */

.padding-inside-top-xs {
  padding-top: 10px;
}

.padding-inside-top-sm {
  padding-top: 20px;
}

.padding-inside-top-md {
  padding-top: 50px;
}

.padding-inside-top-lg {
  padding-top: 150px;
}

.padding-inside-top-xl {
  padding-top: 200px;
}

.padding-inside-bottom-xs {
  padding-bottom: 10px;
}

.padding-inside-bottom-sm {
  padding-bottom: 20px;
}

.padding-inside-bottom-md {
  padding-bottom: 50px;
}

.padding-inside-bottom-lg {
  padding-bottom: 150px;
}

.padding-inside-bottom-xl {
  padding-bottom: 200px;
}

.margin-above-top-xs {
  margin-top: 10px;
}

.margin-above-top-sm {
  margin-top: 20px;
}

.margin-above-top-md {
  margin-top: 50px;
}

.margin-above-top-lg {
  margin-top: 150px;
}

.margin-below-bottom-xs {
  margin-bottom: 10px;
}

.margin-below-bottom-sm {
  margin-bottom: 20px;
}

.margin-below-bottom-md {
  margin-bottom: 50px;
}

.margin-below-bottom-lg {
  margin-bottom: 150px;
}

.margin-below-bottom-xl {
  margin-bottom: 200px;
}
